.cta-container {
  position: relative;
  padding: 10px 20px;
  text-align: center;
}

.cta-container .cta-overlay {
  position: absolute;
  inset: 0px;
}

.cta-container * {
  text-align: center;
  position: relative;
  z-index: 1;
}
