.cta-container {
    position: relative;
	padding: 10px 20px;
	text-align: center;

	.cta-overlay {
		position: absolute;
		inset: 0px;
	}

	* {
		text-align: center;
		position: relative;
		z-index: 1;
	}
}
